<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de Perfil" height="100px" width="150px">
        </section>
        <!--section informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;
            Rafael Henrique | 18 Anos | @faaellx |<br>
            &nbsp;&nbsp;&nbsp;&nbsp;gomes24menez@gmail.com | Aríes 
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="MySite.html">Eu Mesmo|</a>
        <a href="Entretenimento.html">Entretenimento|</a>
        <a href="Músicas.html">Músicas|</a>
            <hr>
    </nav>

    <!--Seção de entretenimento-->
    <article>
        <h3> The Walking Dead</h3>
        <h5> Curto: 8/10</h5>
        <p>
             <img src="thewalkingdead.jpg" alt="The Walking Dead" height="100px" width="200px">

        </p>
        <p>
            <strong>The Walking Dead</strong> e sobre um apocalipise zumbi que está <br>
            acontecendo no mundo, e acompanhamos a tragetoria de <br>
            Rick Grymes para encontrar sua familia em meio de todo esse caos.
        </p>
        <p>
            Para Saber Mais <a href="">Clique Aqui!</a>
        </p>
    </article>
    <hr>
    <article>
        <h3>Demon Slayer</h3>
        <h5>Curto: 4/5</h5>
        <p>
            <img src="demonslayer.jpg" alt="Demon Slayer" height="150px" width="150px">
        </p>
        <p> 
            <strong>Demon Slayer</strong> conta sobre um jovem que ganha a vida vendendo carvão até descobrir que sua família <br>
             foi massacrada por um demônio, restando apenas sua irmã, Nezuko, que foi infectada e está se tornando <br>
             um monstro. O protagonista, então, decide virar um caçador de demônios e buscar vingança.
        </p>
        <p>
            Para Saber Mais <a href="">Clique Aqui</a>
        </p>
    </article>
    <hr>
    <article>
        <h3> Deedpool </h3>
        <h5> Curto: 5/5</h5>
        <p>
             <img src="deedpool.jfif" alt="Deedpool " height="100px" width="200px">

        </p>
        <p>
            <strong>Deedpool</strong> Wade Wilson é um ex-agente especial que passou a trabalhar como mercenário. <br>
            Seu mundo é destruído quando um cientista maligno o tortura e o desfigura completamente. <br>
            O experimento brutal transforma Wade em Deadpool, que ganha poderes especiais de cura e  <br>
            uma força aprimorada. Com a ajuda de aliados poderosos e um senso de humor mais desbocado <br>
            e cínico do que nunca, o irreverente anti-herói usa habilidades e métodos violentos para se vingar  <br>
            do homem que quase acabou com a sua vida.
        </p>
        <p>
            Para Saber Mais <a href="">Clique Aqui!</a>
        </p>
    </article>
    <hr>
    <article>
        <h3> The Batman</h3>
        <h5> Curto: 5/5</h5>
        <p>
             <img src="batman.jfif" alt=" The Batman" height="150px" width="100px">

        </p>
        <p>
            <strong> The Batman </strong>Após dois anos espreitando as ruas como Batman, Bruce Wayne se encontra nas profundezas mais sombrias <br>
             de Gotham City. Com poucos aliados confiáveis, o vigilante solitário se estabelece como a personificação da vingança para a <br>
             população.
        </p>
        <p>
            Para Saber Mais <a href="">Clique Aqui!</a>
        </p>
    </article>
    <hr>
    <article>
        <h3> Chainsaw Man</h3>
        <h5> Curto: 5/5</h5>
        <p>
             <img src="chainsawman.jpg" alt="Chainsaw Man" height="150px" width="150px">

        </p>
        <p>
            <strong>Chainsaw Man</strong> Denji é um adolescente que mora com Pochita, o Demônio da Motosserra. <br>
             Por conta das dívidas que herdou de seu pai, ele vive na miséria, exterminando outros demônios <br>
             com Pochita para pagar as contas. Até que, um dia, Denji é traido e morre.
        </p>
        <p>
            Para Saber Mais <a href="">Clique Aqui!</a>
        </p>
    </article>
    <hr>
    

    
</body>
</html>