<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<style>
    body
    h1{
        color: red;
    }
    footer{
        color: blueviolet;
    }
</style>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de Perfil" height="100px" width="150px">
        </section>
        <!--section informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;
            Rafael Henrique | 18 Anos | @faaellx |<br>
            &nbsp;&nbsp;&nbsp;&nbsp;gomes24menez@gmail.com | Aríes 
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="MySite.html">Eu Mesmo|</a>
        <a href="Entretenimento.html">Entretenimento|</a>
        <a href="Músicas.html">Músicas|</a>
        <a href="contato.html">Fale Comigo|</a>
            <hr>
    </nav>
    <header>
        <h1>Fale Comigo !</h1>
    </header>
    <br>
    <forms>
        <label for="name">Nome:</label>
        <input type="text" name="nome" id="name" size="50" required placeholder="Rafael Henrique">
        <br><br>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" size="50" required placeholder="example123@gmail.com">
        <br><br>
        <label for="numero">WhatsApp:</label>
        <input type="text" name="numero" id="numero" size="50" required placeholder="+5581912345678">
        <br><br>
        <label for="data">Data de Nascimento:</label>
        <input type="date" name="data" id="data" size="50" required placeholder="01/02/2023">
        <br><br>
        <p>Deixe Sua Mensagem:</p>
        <textarea name="Mensagem" cols="30" rows="15"  required placeholder="Digite Sua Mensagem..."></textarea>
        <br>
        <input type="submit" value="Enviar">
    </forms>
    &nbsp;
    <hr>
    <footer>
        By Rafael Henrique &copy;
    </footer>
</body>
</html>