<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de Perfil" height="100px" width="150px">
        </section>
        <!--section informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;
            Rafael Henrique | 18 Anos | @faaellx |<br>
            &nbsp;&nbsp;&nbsp;&nbsp;gomes24menez@gmail.com | Aríes 
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="MySite.html">Eu Mesmo|</a>
        <a href="Entretenimento.html">Entretenimento|</a>
        <a href="Músicas.html">Músicas|</a>
        <a href="contato.html">Fale Comigo|</a>
            <hr>
    </nav>
    <!--Estrutura principal do site-->
    <main>
        <h1>Conheça um pouco de meu mundo</h1>
        <p>
            Salve guys, sou Rafael eu gosto <br>
            de jogar, ler, ouvir música, editar,<br>
            fora outras coisas.
        </p>
        <ul>
            <li>
                Faço Exercicios
                <ul>
                    <li>Flexão</li>
                    <li>Polichinelo</li>
                    <li>Agachamento</li>
                    <li>Pular corda</li>
                </ul>
            <li>
                Aprendo Idiomas
                <ul>
                    <li>Ingles</li>
                </ul>
            </li>
            <li>
                Edições
            <ul>
                <li>Pelo Celular</li>
             </ul>
             <li>
                Animes
                <ul>
                    <li>Demon Slayer</li>
                    <li>Full Metal Auquimistc</li>
                    <li>Jujutsu Kaisen</li>
                    <li>Chainsaw Man</li>
                </ul>

             </li>

            </li>
        </ul>
    </main>

    <!--Rodapé-->
    <hr>
    <footer>
        By Rafael Henrique &copy;
    </footer>
</body>
</html>