<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 BregaFunk</title>
</head>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.jfif" alt="Imagem de Perfil" height="100px" width="150px">
        </section>
        <!--section informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp;&nbsp;&nbsp;
            Rafael Henrique | 18 Anos | @faaellx |<br>
            &nbsp;&nbsp;&nbsp;&nbsp;gomes24menez@gmail.com | Aríes 
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="MySite.html">Eu Mesmo|</a>
        <a href="Entretenimento.html">Entretenimento|</a>
        <a href="Músicas.html">Músicas|</a>
        <a href="contato.html">Fale Comigo|</a>
            <hr>
</nav>

<!--Aqui Começa Minha Lista-->
<main>
    <ol>
        <li>Mc Danny - Tempestade</li>
        <li>Mc Reino - Diamante</li>
        <li>Mc Tocha - </li>
        <li>Dada Boladão - Surtada</li>
        <li>Shevchenko e Elloco - Chapuletei</li>
        <li>VT Kebradeira - Dog Malvado</li>
        <li>Mc Troinha - Pode Balançar</li>
        <li>Anderson Neiff - Sigilo Perigoso</li>
        <li>Rave Brega Funk</li>
        <li>Disputa das potrancas - Os Cretinos</li>
    </ol>

</main>
<hr>
<!--Rodapé-->
<footer>
    &nbsp;Bye Rafael Henrique &copy;
</footer>
</body>
</html>